<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GestionComprasApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_shoppong"
        android:roundIcon="@drawable/ic_shoppong"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name="com.example.gestiondecompras.activities.SettingsActivity" />
        <activity android:name="com.example.gestiondecompras.activities.CalendarioActivity" />
        <activity android:name="com.example.gestiondecompras.activities.TarjetasActivity" />
        <activity android:name="com.example.gestiondecompras.activities.ListaPedidosActivity" />
        <activity android:name="com.example.gestiondecompras.activities.NuevoPedidoActivity" />
        <activity android:name="com.example.gestiondecompras.activities.ListaClientesActivity" />
        <activity android:name="com.example.gestiondecompras.activities.ReportesActivity" />
        <activity android:name="com.example.gestiondecompras.activities.NuevoClienteActivity" />
        <activity android:name="com.example.gestiondecompras.activities.NuevaTarjetaActivity" />

        <activity
            android:name="com.example.gestiondecompras.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
